
//FOOTER 
.footer {
    height: 160px;
    background-color: #4e486b;

    .contenedor-redes {
        display: flex;
        list-style: none;
        text-align: center;
        padding-top: 30px;

        .icon-redes {
            width: 10%;
            filter: invert(1);

            @media only screen and (max-width: 634px) {
                width: 20%;
            }
        }
    }

    .texto-footer {
        display: flex;
        padding: 20px;
        flex-direction: column;
        align-items: center;
        color: white;
        text-align: center;
    }
}