// POSICION DE LAS NUBES EN EL FONDO
.s-cuatro {
    .deco-nube1 {
        position: absolute;
        width: 80px;
        z-index: -1;
        top: 200px;
        right: 80px;

        @media only screen and (max-width: 768px) {
            display: none;
        }
    }

    .deco-nube2 {
        left: 50px;
        position: absolute;
        width: 80px;
        z-index: -1;
        top: 650px;

        @media only screen and (max-width: 768px) {
            display: none;
        }
    }

    .deco-nube3 {
        position: absolute;
        width: 80px;
        z-index: -1;
        right: 215px;
        top: 1000px;

        @media only screen and (max-width: 768px) {
            display: none;
        }
    }

    .deco-nube4 {
        top: 800px;
        position: absolute;
        width: 80px;
        z-index: -1;
        left: 180px;

        @media only screen and (max-width: 768px) {
            display: none;
        }
    }

    .deco-nube5 {
        position: absolute;
        width: 80px;
        z-index: -1;
        right: 180px;
        top: 515px;

        @media only screen and (max-width: 768px) {
            display: none;
        }
    }

    .deco-nube6 {
        position: absolute;
        width: 80px;
        right: 300px;
        z-index: -1;
        top: 800px;

        @media only screen and (min-width: 769px) and (max-width: 1024px) {
            right: 150px;
        }

        @media only screen and (max-width: 768px) {
            display: none;
        }
    }

    .deco-nube7 {
        position: absolute;
        width: 80px;
        left: 80px;
        top: 1000px;
        z-index: -1;

        @media only screen and (max-width: 768px) {
            display: none;
        }
    }
    
    .deco-nube8 {
        position: absolute;
        width: 80px;
        top: 400px;
        left: 200px;
        z-index: -1;

        @media only screen and (max-width: 768px) {
            display: none;
        }
    }

}